

<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to "turimo", "/" %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @item, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
 

    <div class="img-upload">
      <div class="weight-bold-text">
        アイテム画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
   
    <div class="new-items">
      <div class="weight-bold-text">
        アイテム名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :item_name, class:"items-text", id:"item-name", placeholder:"アイテム名（必須 100文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          アイテムの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :item_description, class:"items-text", id:"item-info", placeholder:"紹介したいアイテムの説明（色、素材、重さ、定価、注意点、コツなど）" ,rows:"7" %>
      </div>
    </div>
  
    <div class="items-detail">
      <div class="weight-bold-text">アイテムの詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          使用場所
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:use_id, Use.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
  
    <div class="items-detail">
      <div class="weight-bold-text question-text">
      </div>
      <div class="form">
        <div class="weight-bold-text">
          定価
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :price, class:"select-box", id:"item-shipping-fee-status" %>
        <div class="weight-bold-text">
          メーカー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:marker_id, Marker.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
      </div>
    </div>
   
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <%= link_to "turimo", "/" %>
    <p class="inc">
      ©︎Turimo,Inc.
    </p>
  </footer>
</div>