<div class="items-sell-contents">
  <header class="items-sell-header">

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">アイテムの情報を入力</h2>
    <%= form_with local: true do |f| %>

    <%# render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        アイテム画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :hoge, id:"item-image" %>
      </div>
    </div>
   
    <div class="new-items">
      <div class="weight-bold-text">
        アイテム名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :hoge, class:"items-text", id:"item-name", placeholder:"アイテム名（必須 100文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          アイテムの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :hoge, class:"items-text", id:"item-info", placeholder:"紹介したいアイテムの説明（色、素材、重さ、定価、注意点、コツなど）" ,rows:"7" %>
      </div>
    </div>
   
    <div class="items-detail">
      <div class="weight-bold-text">アイテムの詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          使用場所
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
  
    <div class="items-detail">
      <div class="weight-bold-text question-text">
        <%#span>配送について</span>
        <a class="question" href="#">?</a#%>
      </div>
      <div class="form">
        <div class="weight-bold-text">
          配送料の負担
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
        <div class="weight-bold-text">
          発送元の地域
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"select-box", id:"item-prefecture"}) %>
        <div class="weight-bold-text">
          発送までの日数
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>
    </div>
  
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
   
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <p class="inc">
      ©︎Turimo,Inc.
    </p>
  </footer>
</div>