<%= render "shared/header" %>
<h2 class='kenken'>＜検索結果＞</h2>
<div class="item-lists">
  <% @items.each do |item| %>
      <li class='list'>
          <%= link_to item_path(item) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.item_name %>
            </h3>
          </div>
          <% end %>
      </li>
  <% end %>
</div>

<%= link_to "トップページに戻る", root_path, class: 'kenken' %>
